.vs/
csharp/minimalBlockchain.API/bin/
csharp/minimalBlockchain.API/obj/
csharp/minimalBlockchain.Console/bin/
csharp/minimalBlockchain.Console/obj/
csharp/packages/
csharp/bitcoinClient.Console/bin/
csharp/bitcoinClient.Console/obj/
